#tellspace {
    border: 1px inset black;
    width: 90vw;
    height: 80vh;
    margin: auto;
    overflow: scroll;
    overflow-x: visible;
    overflow-y: auto;
    background-color: #d7dee2;
    padding: 2.5vh 2.5vw 2.5vh 2.5vw;
}

#simspace {
    height: 100%;
    direction: ltr;
    opacity: 1;
}

#user {
    width: min(4vw, 200px);
    height: min(4vw, 200px);
    font-size: min(3vw, 150px);
    display: inline-flex;
    justify-content: center; /* center the content horizontally */
    align-items: center;
}

.slider-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: min(1vh, 10px);
    margin: min(1vh, 10px);
}

.increment {
    height: max(min(5vh, 1.5em), 20px);
    width: max(min(5vw, 3em), 20px);
    margin: 0 min(1vw,10px) 0 0;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: max(min(3vh, 50px), 20px);
    border: 1 px sloid black;
    background-color:  #dee2d7;
    opacity: 0.5;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider:hover {
    background-color: #e2dcd7;
}

.slider-bone {
    width: 100%;
    height: max(min(1vh, 3px), 1px);
    background-color: black;
    opacity: 1;
}

.event {
    width: max(min(3vh, 50px), 20px);
    height: max(min(3vh, 50px), 20px);
    border-radius: max(min(1.5vh, 25px), 5px);

}
