h3.cp {
    margin: 0px min(1.5vw, 5px) auto min(1.5vw, 5px);
    padding: min(1vh, 5px) min(1vw, 5px);
    color: #445566;
    font-weight: 500;
}

#tellspace {
    border: 1px inset black;
    width: 90vw;
    height: 60vh;
    margin: auto;
    overflow: scroll;
    overflow-x: visible;
    overflow-y: auto;
    background-color: #d7dee2;
    padding: 2.5vh 2.5vw 2.5vh 2.5vw;
}

#simspace {
    height: 100%;
    direction: ltr;
    opacity: 1;
}

.slider-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: min(1vh, 10px);
    margin: min(1vh, 10px);
}

.increment {
    height: max(min(5vh, 1.5em), 20px);
    width: max(min(5vw, 3em), 20px);
    margin: 0 min(1vw,10px) 0 0;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: max(min(3vh, 50px), 20px);
    border: 1 px sloid black;
    background-color:  #dee2d7;
    opacity: 0.5;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider:hover {
    background-color: #e2dcd7;
}

.slider-bone {
    width: 100%;
    height: max(min(1vh, 3px), 1px);
    background-color: black;
    opacity: 1;
    position: relative;
}

#buttonspace {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: min(1vh, 5px) min(1vw, 5px);
    padding: min(1vh, 5px) min(1vw, 5px);
}

#processoradd {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
  appearance: textfield;
  height: 35px;
  width: 52px;
  font-size: 18px;
  line-height: 26px;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 35px;
}
  
.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #536475;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 11px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quantity-button.quantity-up:hover {
    background-color: #BDC;
}

.quantity-button.quantity-down:hover {
    background-color: #DBC;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #536475;
}
  
.quantity-button.quantity-down {
    position: absolute;
    bottom: 0px;
    height: 50%;
}

.event {
    border-radius: 7.5px;
    border: 2px solid black;
    height: 15px;
    width: 15px;
    background-color: #949494;
    position: absolute;
    bottom: -6px;
}

.event:hover {
    box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}